*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
  min-height: 100vh;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

video {
  max-width: 100%;
  height: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #eee;
}

th,
td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #eee;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

address {
  font-style: normal;
}

form {
  margin: 0;
  padding: 0;
}

form button {
  width: auto;
  display: inline-block;
  padding: 0.6em 2em;
  margin: 0;
  background-image: none;
  background-color: #efa336;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

form button:hover, form button:focus {
  outline: none;
}

form button:hover {
  opacity: 0.6;
}

form button ::-moz-focus-inner {
  padding: 0;
  border: none;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #707070;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  font-size: 1.6rem;
  -webkit-appearance: none;
}

textarea:hover, textarea:focus {
  outline: none;
}

textarea:focus {
  outline: none;
  border-color: #707070;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea ::-moz-focus-inner {
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
  border-color: #707070;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="submit"], input[type="button"] {
  width: auto;
  display: inline-block;
  padding: 0.6em 2em;
  margin: 0;
  background-image: none;
  background-color: #efa336;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="button"]:hover, input[type="button"]:focus {
  outline: none;
}

input[type="submit"]:hover, input[type="button"]:hover {
  opacity: 0.6;
}

input[type="submit"] ::-moz-focus-inner, input[type="button"] ::-moz-focus-inner {
  padding: 0;
  border: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 30px;
  margin: 0 16px 0 0;
  cursor: pointer;
}

input[type="radio"] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: block;
}

input[type="radio"] + span::after {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

input[type="radio"]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #707070;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: block;
  opacity: 1;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 30px;
  margin: 0 16px 0 0;
  cursor: pointer;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

input[type="checkbox"] + span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  width: 26px;
  height: 26px;
  display: block;
}

input[type="checkbox"] + span::after {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  width: 26px;
  height: 15.6px;
  margin-top: -0.2em;
  display: block;
  border-left: 4px solid #efa336;
  border-bottom: 4px solid #efa336;
  opacity: 1;
}

select {
  padding: 0.4em 2.4em 0.4em 0.8em;
  border-radius: 0;
  background-image: url(../img/arrow.svg);
  background-position: right 6px center;
  background-repeat: no-repeat;
  background-size: 24px;
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: 1px solid #707070;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #707070;
}

.inner {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  width: 1060px;
  height: inherit;
}

@media (max-width: 1059px) {
  .inner {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.btn {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  max-width: 100%;
  border: 2px solid #424242;
  color: #fff;
  letter-spacing: 0.04em;
  font-weight: 700;
  line-height: 58px;
  height: 60px;
  margin: 0;
  background-image: none;
  background-color: #424242;
  text-decoration: none;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:hover, .btn:focus {
  outline: none;
}

.btn::-moz-foucs-inner {
  padding: 0;
  border: none;
}

.drawer {
  z-index: 40;
}

.drawer-close {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.drawer-close.is-checked {
  display: block;
  opacity: 0.4;
}

.drawer-icon {
  display: inline-block;
  position: relative;
  z-index: 41;
  text-align: center;
  cursor: pointer;
}

.drawer-icon::after {
  content: "MENU";
  display: none;
  color: #424242;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1;
  margin-top: 4px;
  font-weight: 700;
}

.drawer-icon.is-checked::after {
  content: "CLOSE";
}

.drawer-bars {
  display: inline-block;
  width: 25px;
  height: 19px;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background: #424242;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.drawer-bar:nth-of-type(1) {
  top: 0;
}

.drawer-bar:nth-of-type(2) {
  top: 8px;
}

.drawer-bar:nth-of-type(3) {
  top: 16px;
}

.is-checked .drawer-bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-checked .drawer-bar:nth-of-type(2) {
  background: transparent;
}

.is-checked .drawer-bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  z-index: 40;
  width: 200px;
  max-width: 90%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-top: 60px;
  text-align: left;
  color: #424242;
}

.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
          box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

.drawer-content--left {
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
  left: 0;
  right: auto;
}

.drawer-content--top {
  -webkit-transform: translateY(-105%);
          transform: translateY(-105%);
  top: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.header {
  position: relative;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 20;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-logo a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-logo a:hover {
  opacity: 0.6;
}

.header-logo img {
  width: 200px;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav li {
  margin-right: 46px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-nav li > a {
  text-decoration: none;
  color: #333;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
  opacity: 0.6;
}

.header-drawer {
  display: none;
}

@media (max-width: 767px) {
  .header-drawer {
    display: block;
  }
}

@media (min-width: 1060px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1059px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}
