.header {
	position: relative;
	width: 100%;
	background: #fff;
	top: 0;
	left: 0;
	height: $header-height;
	z-index: map-get($layer, "header");

	// > .inner {
	// }
}

.header-content {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: auto;
	// display: block;
	// width: 100%;
	// position: fixed;
	// top: 0;
	// z-index: 30;

	a {
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}

	img {
		width: 200px;
	}
}

.header-nav {

	@include mq("sp") {
		display: none;
	}

	ul {
		display: flex;
		align-items: center;
    // justify-content: space-between;
	}

	li {
		margin-right: 46px;
		// text-align: center;

		&:last-child {
			margin-right: 0;
		}

		> a {
			text-decoration: none;
			color: $cr-txt;
			display: block;
			transition: all 0.3s ease 0s;

				img {
					margin: auto;
					transition: all 0.3s ease 0s;
				}

				// &:hover {
				// 	transform: scale(1.1,1.1);
				// }

			&:hover {
				opacity: $opacity;
			}
		}
	}
}

.header-drawer {
	display: none;

	@include mq("sp") {
		display: block;
	}
}
